@media (min-width:350px) and (max-width:374px){
    .msgimgbox{
        width: 40vw !important;
        height:20vw !important;
        object-fit: fill !important;
    }
    .mymsgimg{
        background-color: #ffeff7;
        position: relative;
        left: 22%;
        width: 80%;
        margin-bottom: 0.5rem;
        border-radius: 1.5rem;
        color: #e80070;
        min-height: 24vh !important;
        max-height: 24vh !important;
     }
    .mymsg{
        background-color: #ffeff7;
        position: relative;
        left: 22%;
        width: 80%;
        margin-bottom: 0.5rem;
        border-radius: 2rem;
        color: #e80070;
     }
    
     .sendermsg{
        background-color: #ffeff7;
        position: relative;
        left: 0%;
        width: 80%;
        margin-bottom: 0.5rem;
        border-radius: 2rem;
        color:#e80070;
     }
     .sendermsgimg{
        background-color: #ffeff7;
        position: relative;
        left: 0%;
        width: 80%;
        margin-bottom: 0.5rem;
        border-radius: 1.5rem;
        color:#e80070;
        min-height: 24vh !important;
        max-height: 24vh !important;
     }
    .sendingbox{
        display: flex;
        width: 78vw;
        height: 6vh;
        
        position: fixed;
        top: 91%;
    }
    
    .friendbox{
        position: absolute;
        top: 21%;
        min-height: 73vh;
        max-height: 68vh;
        min-width: 69vw;
        max-width: 69vw;
        
    }

    .tagsearch{
        color: #dd3d8a;
        position: absolute;
        top:14%;
    }
    .searchmain{
        display: flex;
      
        margin-top: 2rem !important;
        min-width: 89% !important;
        max-width: 60% !important;
        min-height: 8vw !important;
        max-height: 8vw !important;  
    }


    .cardwidth{
        min-width: 68vw;
        max-width: 68vw;
    }


    .loginstylereg{
        color: #e80070;
        font-size: 1.8rem;
        transform: rotate(-30deg);
        position: relative;
        top: 4%;
        right: 22%;
    }

    .regbodform{
        min-height: 60vh !important;
        max-height: 60vh !important;
        background-color: #ffe4fbdb;
        border: 0.15rem solid #e80070;
        border-radius: 0.3rem;
        max-width: 60vw !important;
      }

    .loginstyle{
        color: #e80070;
        font-size: 3.2rem;
        transform: rotate(-30deg);
        position: relative;
        top: 10%;
        right: 12%;
    }

    .loginstylelout{
        color: #e80070;
        font-size: 2.2rem;
        transform: rotate(-30deg);
        position: relative;
        top: 6%;
        right: 22%;
    
    }

    .loginstyleforg{
        color: #e80070;
        font-size: 2.2rem;
        transform: rotate(-30deg);
        position: relative;
        top: 10%;
        right: 12%;
    }

    .icondeslog{
        width: 26vw;
        height: 10vh;
    }

    .bodform{
        min-height: 46vh !important;
        max-height: 46vh !important;
        background-color: #ffe4fbdb;
        border: 0.15rem solid #e80070;
        border-radius: 0.3rem;
        max-width: 59vw;
      }


    .sidenav{
        position: absolute;
        color : white !important;
        padding-top: 0.6rem;
        display: flex !important;
       
        background-color: #e80070;
        min-width: 14vw;
        max-width: 14vw;
        min-height: 100vh;
        max-height: 100vh;
        overflow-y: auto;
    
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    
    }
    
    .sidenav::-webkit-scrollbar {
        display: none;
      }


      .mainnav{
        position: absolute !important;
        top: 0%;
        right :0%;
        background-color: #ffffff;
        min-width: 86vw;
        max-width: 86vw;
        min-height: 100vh;
        max-height: 100vh;
        overflow: scroll;
    
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    
    }
    
    .mainnav::-webkit-scrollbar {
        display: none;
      }

      
}

@media (min-width:375px) and (max-width:389px){
    .msgimgbox{
        width: 40vw !important;
        height:23vw !important;
        object-fit: fill !important;
    }
    .mymsgimg{
        background-color: #ffeff7;
        position: relative;
        left: 25%;
        width: 78%;
        margin-bottom: 0.5rem;
        border-radius: 1.5rem;
        color:#e80070;
        min-height: 29vh !important;
        max-height: 29vh !important;
     }
    .mymsg{
        background-color: #ffeff7;
        position: relative;
        left: 25%;
        width: 78%;
        margin-bottom: 0.5rem;
        border-radius: 2rem;
        color: #e80070;
     }
    
     .sendermsg{
        background-color: #ffeff7;
        position: relative;
        left: 0%;
        width: 78%;
        margin-bottom: 0.5rem;
        border-radius: 2rem;
        color: #e80070;
     }
     .sendermsgimg{
        background-color: #ffeff7;
        position: relative;
        left: 0%;
        width: 78%;
        margin-bottom: 0.5rem;
        border-radius: 1.5rem;
        color:#e80070;
        min-height: 29vh !important;
        max-height: 29vh !important;
     }
    .sendingbox{
        display: flex;
        width: 78vw;
        height: 6vh;
       
        position: fixed;
        top: 91%;
    }
    
.friendbox{
    position: absolute;
    top: 21%;
    min-height: 73vh;
    max-height: 68vh;
    min-width: 69vw;
    max-width: 69vw;
 
}
    .tagsearch{
        color: #dd3d8a;
        position: absolute;
        top:15%;
    }
    .searchmain{
        display: flex;
       
        margin-top: 2rem !important;
        min-width: 89% !important;
        max-width: 60% !important;
        min-height: 8vw !important;
        max-height: 8vw !important;  
    }

    .loginstylelout{
        color: #e80070;
        font-size: 2.2rem;
        transform: rotate(-30deg);
        position: relative;
        top: 6%;
        right: 22%;
    
    }
    .cardwidth{
        min-width: 68vw;
        max-width: 68vw;
    }
    .loginstyleforg{
        color: #e80070;
        font-size: 2.2rem;
        transform: rotate(-30deg);
        position: relative;
        top: 10%;
        right: 12%;
    }
    .loginstylereg{
        color: #e80070;
        font-size: 1.8rem;
        transform: rotate(-30deg);
        position: relative;
        top: 4%;
        right: 22%;
    }
    .regbodform{
        min-height: 67vh !important;
        max-height: 67vh !important;
        background-color: #ffe4fbdb;
        border: 0.15rem solid #e80070;
        border-radius: 0.3rem;
        max-width: 60vw !important;
      }

    .loginstyle{
        color: #e80070;
        font-size: 3rem;
        transform: rotate(-30deg);
        position: relative;
        top: 10%;
        right: 12%;
    }

    .icondeslog{
        width: 19vw;
        height: 8vh;
    }

    .bodform{
        min-height: 46vh !important;
        max-height: 46vh !important;
        background-color: #ffe4fbdb;
        border: 0.15rem solid #e80070;
        border-radius: 0.3rem;
        max-width: 55vw;
      }
    .sidenav{
        color : white !important;
        padding-top: 0.6rem;
        display: flex !important;
        position: absolute;
        background-color: #e80070;
        min-width: 15vw;
        max-width: 15vw;
        min-height: 100vh;
        max-height: 100vh;
        overflow: scroll;
    
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    
    }
    
    .sidenav::-webkit-scrollbar {
        display: none;
      }

      .mainnav{
        position: absolute !important;
        top: 0%;
        right :0%;
        background-color: #ffffff;
        min-width: 85vw;
        max-width: 85vw;
        min-height: 100vh;
        max-height: 100vh;
        overflow: scroll;
    
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    
    }
    
    .mainnav::-webkit-scrollbar {
        display: none;
      }
      
      
}


@media (min-width:390px) and (max-width:411px){
    .msgimgbox{
        width: 40vw !important;
        height:29vw !important;
        object-fit: fill !important;
    }
    .mymsgimg{
        background-color: #ffeff7;
        position: relative;
        left: 25%;
        width: 78%;
        margin-bottom: 0.5rem;
        border-radius: 1.5rem;
        color: #e80070;
        min-height: 24vh !important;
        max-height: 24vh !important;
     }
    .mymsg{
        background-color: #ffeff7;
        position: relative;
        left: 25%;
        width: 78%;
        margin-bottom: 0.5rem;
        border-radius: 2rem;
        color: #e80070;
     }
    
     .sendermsg{
        background-color: #ffeff7;
        position: relative;
        left: 0%;
        width: 78%;
        margin-bottom: 0.5rem;
        border-radius: 2rem;
        color: #e80070;
     }

     .sendermsgimg{
        background-color: #ffeff7;
        position: relative;
        left: 0%;
        width: 78%;
        margin-bottom: 0.5rem;
        border-radius: 1.5rem;
        color: #e80070;
        min-height: 24vh !important;
        max-height: 24vh !important;

     }
    .sendingbox{
        display: flex;
        width: 78vw;
        height: 6vh;
   
        position: fixed;
        top: 91%;
    }
    
.friendbox{
    position: absolute;
    top: 19%;
    min-height: 73vh;
    max-height: 68vh;
    min-width: 69vw;
    max-width: 69vw;

}

    .tagsearch{
        color: #dd3d8a;
        position: absolute;
        top:11%;
    }
    .searchmain{
        display: flex;
       
        margin-top: 2rem !important;
        min-width: 89% !important;
        max-width: 60% !important;
        min-height: 8vw !important;
        max-height: 8vw !important;  
    }

    .loginstylelout{
        color: #e80070;
        font-size: 2.2rem;
        transform: rotate(-30deg);
        position: relative;
        top: 6%;
        right: 22%;
    
    }
    .cardwidth{
        min-width: 68vw;
        max-width: 68vw;
    }
    .loginstyleforg{
        color: #e80070;
        font-size: 2.2rem;
        transform: rotate(-30deg);
        position: relative;
        top: 10%;
        right: 12%;
    }
    .loginstylereg{
        color: #e80070;
        font-size: 1.8rem;
        transform: rotate(-30deg);
        position: relative;
        top: 4%;
        right: 22%;
    }

    .regbodform{
        min-height: 60vh !important;
        max-height: 60vh !important;
        background-color: #ffe4fbdb;
        border: 0.15rem solid #e80070;
        border-radius: 0.3rem;
        max-width: 60vw !important;
      }

    .loginstyle{
        color: #e80070;
        font-size: 3.2rem;
        transform: rotate(-30deg);
        position: relative;
        top: 10%;
        right: 12%;
    }
    .icondeslog{
        width: 19vw;
        height: 7vh;
    }

    .bodform{
        min-height: 38vh !important;
        max-height: 38vh !important;
        background-color: #ffe4fbdb;
        border: 0.15rem solid #e80070;
        border-radius: 0.3rem;
        max-width: 59vw;
      }

    .sidenav{
        color : white !important;
        padding-top: 0.6rem;
        display: flex !important;
        position: absolute;
        background-color: #e80070;
        min-width: 17vw;
        max-width: 17vw;
        min-height: 100vh;
        max-height: 100vh;
        overflow: scroll;
    
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    
    }
    
    .sidenav::-webkit-scrollbar {
        display: none;
      }
      

      .mainnav{
        position: absolute !important;
        top: 0%;
        right :0%;
        background-color: #ffffff;
        min-width: 83vw;
        max-width: 83vw;
        min-height: 100vh;
        max-height: 100vh;
        overflow: scroll;
    
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    
    }
    
    .mainnav::-webkit-scrollbar {
        display: none;
      }
}


@media (min-width:412px) and (max-width:539px){
    .msgimgbox{
        width: 40vw !important;
        height:31vw !important;
        object-fit: fill !important;
    }
    .mymsgimg{
        background-color: #ffeff7;
        position: relative;
        left: 25%;
        width: 78%;
        margin-bottom: 0.5rem;
        border-radius: 1.5rem;
        color: #e80070;
        min-height: 24vh !important;
        max-height: 24vh !important;
     }
    .mymsg{
        background-color: #ffeff7;
        position: relative;
        left: 25%;
        width: 78%;
        margin-bottom: 0.5rem;
        border-radius: 2rem;
        color:#e80070;
     }

     .sendermsgimg{
        background-color: #ffeff7;
        position: relative;
        left: 0%;
        width: 78%;
        margin-bottom: 0.5rem;
        border-radius: 1.5rem;
        color:#e80070;
        min-height: 24vh !important;
        max-height: 24vh !important;

     }
    
     .sendermsg{
        background-color: #ffeff7;
        position: relative;
        left: 0%;
        width: 78%;
        margin-bottom: 0.5rem;
        border-radius: 2rem;
        color: #e80070;
     }
    .sendingbox{
        display: flex;
        width: 78vw;
        height: 6vh;
 
        position: fixed;
        top: 90%;
    }
    
.friendbox{
    position: absolute;
    top: 19%;
    min-height: 73vh;
    max-height: 68vh;
    min-width: 69vw;
    max-width: 69vw;
   
}

    .tagsearch{
        color: #dd3d8a;
        position: absolute;
        top:12%;
    }
    .searchmain{
        display: flex;
       
        margin-top: 2rem !important;
        min-width: 89% !important;
        max-width: 60% !important;
        min-height: 8vw !important;
        max-height: 8vw !important;  
    }

    .loginstylelout{
        color: #e80070;
        font-size: 2.2rem;
        transform: rotate(-30deg);
        position: relative;
        top: 6%;
        right: 22%;
    
    }
    .cardwidth{
        min-width: 68vw;
        max-width: 68vw;
    }
    .loginstyleforg{
        color: #e80070;
        font-size: 2.2rem;
        transform: rotate(-30deg);
        position: relative;
        top: 10%;
        right: 12%;
    }
    .loginstylereg{
        color: #e80070;
        font-size: 1.8rem;
        transform: rotate(-30deg);
        position: relative;
        top: 4%;
        right: 22%;
    }
    .regbodform{
        min-height: 53vh !important;
        max-height: 53vh !important;
        background-color: #ffe4fbdb;
        border: 0.15rem solid #e80070;
        border-radius: 0.3rem;
        max-width: 60vw !important;
      }

    .loginstyle{
        color: #e80070;
        font-size: 3.2rem;
        transform: rotate(-30deg);
        position: relative;
        top: 10%;
        right: 12%;
    }
    .icondeslog{
        width: 19vw;
        height: 6vh;
    }

    .bodform{
        min-height: 38vh !important;
        max-height: 38vh !important;
        background-color: #ffe4fbdb;
        border: 0.15rem solid #e80070;
        border-radius: 0.3rem;
        max-width: 57vw;
      }
    .sidenav{
        color : white !important;
        padding-top: 0.6rem;
        display: flex !important;
        position: absolute;
        background-color: #e80070;
        min-width: 17vw;
        max-width: 17vw;
        min-height: 100vh;
        max-height: 100vh;
        overflow: scroll;
    
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    
    }
    
    .sidenav::-webkit-scrollbar {
        display: none;
      }
      

      .mainnav{
        position: absolute !important;
        top: 0%;
        right :0%;
        background-color: #ffffff;
        min-width: 83vw;
        max-width: 83vw;
        min-height: 100vh;
        max-height: 100vh;
        overflow: scroll;
    
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    
    }
    
    .mainnav::-webkit-scrollbar {
        display: none;
      }
}

@media (min-width:540px) and (max-width:767px){
    .msgimgbox{
        width: 28.5vw !important;
        height:23vw !important;
        object-fit: fill !important;
    }
    .mymsgimg{
        background-color: #ffeff7;
        position: relative;
        left: 44%;
        width: 55%;
        margin-bottom: 0.5rem;
        border-radius: 1.5rem;
        color: #e80070;
        min-height: 30vh !important;
        max-height: 30vh !important;
     }
    .mymsg{
        background-color: #ffeff7;
        position: relative;
        left: 44%;
        width: 55%;
        margin-bottom: 0.5rem;
        border-radius: 2rem;
        color: #e80070;
     }
    
     .sendermsgimg{
        background-color: #ffeff7;
        position: relative;
        left: 0%;
        width: 55%;
        margin-bottom: 0.5rem;
        border-radius: 1.5rem;
        color: #e80070;
        min-height: 30vh !important;
        max-height: 30vh !important;

     }
     .sendermsg{
        background-color: #ffeff7;
        position: relative;
        left: 0%;
        width: 55%;
        margin-bottom: 0.5rem;
        border-radius: 2rem;
        color: #e80070;
     }


    .sendingbox{
        display: flex;
        width: 78vw;
        height: 6vh;
       
        position: fixed;
        top: 90%;
    }

    
.friendbox{
    position: absolute;
    top: 21%;
    min-height: 73vh;
    max-height: 68vh;
    min-width: 61vw;
    max-width: 61vw;
 
}

    .tagsearch{
        color: #dd3d8a;
        position: absolute;
        top:14%;
    }
    .searchmain{
        display: flex;
       
        margin-top: 2rem !important;
        min-width: 89% !important;
        max-width: 60% !important;
        min-height: 8vw !important;
        max-height: 8vw !important;  
    }
    .loginstylelout{
        color: #e80070;
        font-size: 2.2rem;
        transform: rotate(-30deg);
        position: relative;
        top: 8%;
        right: 32%;
    
    }
    .cardwidth{
        min-width: 48vw;
        max-width: 48vw;
    }

    .cardwidth2{
        min-width: 59vw;
        max-width: 59vw;
    }
    
    .loginstyleforg{
        color: #e80070;
        font-size: 2.2rem;
        transform: rotate(-30deg);
        position: relative;
        top: 10%;
        right: 12%;
    }
    .loginstylereg{
        color: #e80070;
        font-size: 2.5rem;
        transform: rotate(-30deg);
        position: relative;
        top: 4%;
        right: 20%;
    }

    .regbodform{
        min-height: 64vh !important;
        max-height: 64vh !important;
        background-color: #ffe4fbdb;
        border: 0.15rem solid #e80070;
        border-radius: 0.3rem;
        max-width: 60vw !important;
      }
    .loginstyle{
        color: #e80070;
        font-size: 2.5rem;
        transform: rotate(-30deg);
        position: relative;
        top: 7%;
        right: 12%;
    }
    .icondeslog{
        width: 12vw;
        height: 6vh;
    }

    .bodform{
        min-height: 32vh !important;
        max-height: 32vh !important;
        background-color: #ffe4fbdb;
        border: 0.15rem solid #e80070;
        border-radius: 0.3rem;
        max-width: 36vw;
      }

    .sidenav{
        color : white !important;
        padding-top: 0.6rem;
        display: flex !important;
        position: absolute;
        background-color: #e80070;
        min-width: 11vw;
        max-width: 11vw;
        min-height: 100vh;
        max-height: 100vh;
        overflow: scroll;
    
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    
    }
    
    .sidenav::-webkit-scrollbar {
        display: none;
      }

      .mainnav{
        position: absolute !important;
        top: 0%;
        right :0%;
        background-color: #ffffff;
        min-width: 89vw;
        max-width: 89vw;
        min-height: 100vh;
        max-height: 100vh;
        overflow: scroll;
    
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    
    }
    
    .mainnav::-webkit-scrollbar {
        display: none;
      }
      
}


@media (min-width:768px) and (max-width:819px){
    .msgimgbox{
        width: 31.5vw !important;
        height:27vw !important;
        object-fit: fill !important;
    }
    .mymsgimg{
        background-color: #ffeff7;
        position: relative;
        left: 44%;
        width: 55%;
        margin-bottom: 0.5rem;
        border-radius: 1.5rem;
        color: #e80070;
        min-height: 29vh !important;
        max-height: 29vh !important;
     }
    .mymsg{
        background-color: #ffeff7;
        position: relative;
        left: 44%;
        width: 55%;
        margin-bottom: 0.5rem;
        border-radius: 2rem;
        color: #e80070;
     }
    
     .sendermsgimg{
        background-color: #ffeff7;
        position: relative;
        left: 0%;
        width: 55%;
        margin-bottom: 0.5rem;
        border-radius: 1.5rem;
        color: #e80070;
        min-height: 29vh !important;
        max-height: 29vh !important;
     }
     .sendermsg{
        background-color: #ffeff7;
        position: relative;
        left: 0%;
        width: 55%;
        margin-bottom: 0.5rem;
        border-radius: 2rem;
        color: #e80070
     }
    .sendingbox{
        display: flex;
        width: 78vw;
        height: 6vh;
       
        position: fixed;
        top: 90%;
    }

    .friendbox{
        position: absolute;
        top: 19%;
        min-height: 73vh;
        max-height: 68vh;
        min-width: 82vw;
        max-width: 82vw;
    
    }
    .tagsearch{
        color: #dd3d8a;
        position: absolute;
        top:11%;
    }
    .searchmain{
        display: flex;
       
        margin-top: 3rem !important;
        min-width: 89% !important;
        max-width: 60% !important;
        min-height: 8vw !important;
        max-height: 8vw !important;  
    }
    .loginstylelout{
        color: #e80070;
        font-size: 2.2rem;
        transform: rotate(-30deg);
        position: relative;
        top: 4%;
        right: 38%;
    
    }
    .cardwidth{
        min-width: 38vw;
        max-width: 38vw;
    }

    .cardwidth2{
        min-width: 27vw;
        max-width: 27vw;
    }
    .loginstyleforg{
        color: #e80070;
        font-size: 2.2rem;
        transform: rotate(-30deg);
        position: relative;
        top: 8%;
        right: 10%;
    }
    .regbodform{
        min-height: 28vh !important;
        max-height: 28vh !important;
        background-color: #ffe4fbdb;
        border: 0.15rem solid #e80070;
        border-radius: 0.3rem;
        max-width: 46vw !important;
      }
    .loginstyle{
        color: #e80070;
        font-size: 3.2rem;
        transform: rotate(-30deg);
        position: relative;
        top: 6%;
        right: 12%;
    }
    .loginstylereg{
        color: #e80070;
        font-size: 2.5rem;
        transform: rotate(-30deg);
        position: relative;
        top: 4%;
        right: 20%;
    }


    .icondeslog{
        width: 10vw;
        height: 5vh;
    }
  .bodform{
    min-height: 32vh !important;
    max-height: 32vh !important;
    background-color: #ffe4fbdb;
    border: 0.15rem solid #e80070;
    border-radius: 0.3rem;
  }

    .sidenav{
        color : white !important;
        padding-top: 0.6rem;
        display: flex !important;
        position: absolute;
        background-color: #e80070;
        min-width: 11vw;
        max-width: 11vw;
        min-height: 100vh;
        max-height: 100vh;
        overflow: scroll;
    
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    
    }
    
    .sidenav::-webkit-scrollbar {
        display: none;
      }
      

      .mainnav{
        position: absolute !important;
        top: 0%;
        right :0%;
        background-color: #ffffff;
        min-width: 89vw;
        max-width: 89vw;
        min-height: 100vh;
        max-height: 100vh;
        overflow: scroll;
    
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    
    }
    
    .mainnav::-webkit-scrollbar {
        display: none;
      }
}

@media (min-width:820px) and (max-width:911px){
    .msgimgbox{
        width: 31.5vw !important;
        height:27vw !important;
        object-fit: fill !important;
    }
    .mymsgimg{
        background-color: #ffeff7;
        position: relative;
        left: 44%;
        width: 55%;
        margin-bottom: 0.5rem;
        border-radius: 1.5rem;
        color: #e80070;
        min-height: 27vh !important;
        max-height: 27vh !important;
     }
    .mymsg{
        background-color: #ffeff7;
        position: relative;
        left: 44%;
        width: 55%;
        margin-bottom: 0.5rem;
        border-radius: 2rem;
        color: #e80070
     }
    
     .sendermsgimg{
        background-color: #ffeff7;
        position: relative;
        left: 0%;
        width: 55%;
        margin-bottom: 0.5rem;
        border-radius: 1.5rem;
        color: #e80070;
        min-height: 27vh !important;
        max-height: 27vh !important;
     }
     .sendermsg{
        background-color: #ffeff7;
        position: relative;
        left: 0%;
        width: 55%;
        margin-bottom: 0.5rem;
        border-radius: 2rem;
        color: #e80070
     }
    .sendingbox{
        display: flex;
        width: 78vw;
        height: 6vh;
     
        position: fixed;
        top: 90%;
    }
    .friendbox{
        position: absolute;
        top: 16%;
        min-height: 76vh;
        max-height: 68vh;
        min-width: 82vw;
        max-width: 82vw;
        
    }

    .tagsearch{
        color: #dd3d8a;
        position: absolute;
        top:11%;
    }
    .searchmain{
        display: flex;
       
        margin-top: 3rem !important;
        min-width: 89% !important;
        max-width: 89% !important;
        min-height: 8vw !important;
        max-height: 8vw !important;  
    }
    .loginstylelout{
        color: #e80070;
        font-size: 2.2rem;
        transform: rotate(-30deg);
        position: relative;
        top: 4%;
        right: 37%;
    
    }
    .cardwidth{
        min-width: 50vw;
        max-width: 50vw;
    }

    .cardwidth2{
        min-width: 27vw;
        max-width: 27vw;
    }
    .loginstyleforg{
        color: #e80070;
        font-size: 2.2rem;
        transform: rotate(-30deg);
        position: relative;
        top: 6%;
        right: 9%;
    }
    .regbodform{
        min-height: 24vh !important;
        max-height: 24vh !important;
        background-color: #ffe4fbdb;
        border: 0.15rem solid #e80070;
        border-radius: 0.3rem;
        max-width: 46vw !important;
      }
    .loginstyle{
        color: #e80070;
        font-size: 3.2rem;
        transform: rotate(-30deg);
        position: relative;
        top: 6%;
        right: 12%;
    }
    .loginstylereg{
        color: #e80070;
        font-size: 2.5rem;
        transform: rotate(-30deg);
        position: relative;
        top: 3%;
        right: 20%;
    }

    .icondeslog{
        width: 10vw;
        height: 5vh;
    }
    
  .bodform{
    min-height: 29vh !important;
    max-height: 29vh !important;
    background-color: #ffe4fbdb;
    border: 0.15rem solid #e80070;
    border-radius: 0.3rem;
    max-width: 40vw !important;
  }

    .sidenav{
        color : white !important;
        padding-top: 0.6rem;
        display: flex !important;
        position: absolute;
        background-color: #e80070;
        min-width: 10vw;
        max-width: 10vw;
        min-height: 100vh;
        max-height: 100vh;
        overflow: scroll;
    
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    
    }
    
    .sidenav::-webkit-scrollbar {
        display: none;
      }

      .mainnav{
        position: absolute !important;
        top: 0%;
        right :0%;
        background-color: #ffffff;
        min-width: 88vw;
        max-width: 88vw;
        min-height: 100vh;
        max-height: 100vh;
        overflow: scroll;
    
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    
    }
    
    .mainnav::-webkit-scrollbar {
        display: none;
      }
      
}



@media (min-width:912px) and (max-width:1023px){
    .msgimgbox{
        width: 31.5vw !important;
        height:27vw !important;
        object-fit: fill !important;
    }
    .mymsgimg{
        background-color: #ffeff7;
        position: relative;
        left: 44%;
        width: 55%;
        margin-bottom: 0.5rem;
        border-radius: 1.5rem;
        color: #e80070;
        min-height: 25vh !important;
        max-height: 25vh !important;
     }
    .mymsg{
        background-color: #ffeff7;
        position: relative;
        left: 44%;
        width: 55%;
        margin-bottom: 0.5rem;
        border-radius: 2rem;
        color: #e80070
     }
    
     .sendermsgimg{
        background-color: #ffeff7;
        position: relative;
        left: 0%;
        width: 55%;
        margin-bottom: 0.5rem;
        border-radius: 1.5rem;
        color: #e80070;
        min-height: 25vh !important;
        max-height: 25vh !important;
     }
     .sendermsg{
        background-color: #ffeff7;
        position: relative;
        left: 0%;
        width: 55%;
        margin-bottom: 0.5rem;
        border-radius: 2rem;
        color:  #e80070;
     }
    .sendingbox{
        display: flex;
        width: 78vw;
        height: 6vh;
  
        position: fixed;
        top: 90%;
    }
    .friendbox{
        position: absolute;
        top: 18%;
        min-height: 76vh;
        max-height: 68vh;
        min-width: 82vw;
        max-width: 82vw;
       
    }

    .tagsearch{
        color: #dd3d8a;
        position: absolute;
        top:13%;
    }
    .searchmain{
        display: flex;
       
        margin-top: 5rem !important;
        min-width: 70% !important;
        max-width: 70% !important;
        min-height: 8vw !important;
        max-height: 8vw !important;  
    }
    .loginstylelout{
        color: #e80070;
        font-size: 2.2rem;
        transform: rotate(-30deg);
        position: relative;
        top: 4%;
        right: 34%;
    
    }
    .cardwidth{
        min-width: 50vw;
        max-width: 50vw;
    }

    .cardwidth2{
        min-width: 27vw;
        max-width: 27vw;
    }

    .loginstyleforg{
        color: #e80070;
        font-size: 2.2rem;
        transform: rotate(-30deg);
        position: relative;
        top: 5%;
        right: 9%;
    }
    .regbodform{
        min-height: 22vh !important;
        max-height: 22vh !important;
        background-color: #ffe4fbdb;
        border: 0.15rem solid #e80070;
        border-radius: 0.3rem;
        max-width: 46vw !important;
      }
    .loginstyle{
        color: #e80070;
        font-size: 3.2rem;
        transform: rotate(-30deg);
        position: relative;
        top: 5%;
        right: 10%;
    }
    .loginstylereg{
        color: #e80070;
        font-size: 2.5rem;
        transform: rotate(-30deg);
        position: relative;
        top: 3%;
        right: 22%;
    }
  .bodform{
    min-height: 27vh !important;
    max-height: 27vh !important;
    background-color: #ffe4fbdb;
    border: 0.15rem solid #e80070;
    border-radius: 0.3rem;
  }

    .icondeslog{
        width: 10vw;
        height: 5vh;
    }
    .sidenav{
        color : white !important;
        padding-top: 0.6rem;
        display: flex !important;
        position: absolute;
        background-color: #e80070;
        min-width: 10vw;
        max-width: 10vw;
        min-height: 100vh;
        max-height: 100vh;
        overflow: scroll;
    
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    
    }
    
    .sidenav::-webkit-scrollbar {
        display: none;
      }
      
      .mainnav{
        position: absolute !important;
        top: 0%;
        right :0%;
        background-color: #ffffff;
        min-width: 88vw;
        max-width: 88vw;
        min-height: 100vh;
        max-height: 100vh;
        overflow: scroll;
    
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    
    }
    
    .mainnav::-webkit-scrollbar {
        display: none;
      }
      
}



@media (min-width:1024px) and (max-width:1279px){
    .msgimgbox{
        width: 33vw !important;
        height:19vw !important;
        object-fit: fill !important;
    }
    .mymsgimg{
        background-color: #ffeff7;
        position: relative;
        left: 44%;
        width: 55%;
        margin-bottom: 0.5rem;
        border-radius: 1.5rem;
        color: #e80070;
        min-height: 46vh !important;
        max-height: 46vh !important;
     }
    .mymsg{
        background-color: #ffeff7;
        position: relative;
        left: 44%;
        width: 55%;
        margin-bottom: 0.5rem;
        border-radius: 2rem;
        color: #e80070;
     }
    
     .sendermsgimg{
        background-color: #ffeff7;
        position: relative;
        left: 0%;
        width: 55%;
        margin-bottom: 0.5rem;
        border-radius: 1.5rem;
        color: #e80070;
        min-height: 46vh !important;
        max-height: 46vh !important;

     }
     .sendermsg{
        background-color: #ffeff7;
        position: relative;
        left: 0%;
        width: 55%;
        margin-bottom: 0.5rem;
        border-radius: 2rem;
        color: #e80070
     }
    .sendingbox{
        display: flex;
        width: 78vw;
        height: 6vh;
       
        position: fixed;
        top: 88%;
    }
    .friendbox{
        position: absolute;
        top: 25%;
        min-height: 68vh;
        max-height: 68vh;
        min-width: 76vw;
        max-width: 76vw;
        
    }

    .tagsearch{
        color: #dd3d8a;
        position: absolute;
        top:17%;
    }
    .searchmain{
        display: flex;
        margin-top: 2rem !important;
        min-width: 65% !important;
        max-width: 65% !important;
        min-height: 2vw !important;
        max-height: 5vw !important;
    }
    .loginstylelout{
        color: #e80070;
        font-size: 2.2rem;
        transform: rotate(-30deg);
        position: relative;
        top: 8%;
        right: 28%;
    
    }
    .cardwidth{
        min-width: 30vw;
        max-width: 30vw;
    }

    .cardwidth2{
        min-width: 25vw;
        max-width: 25vw;
    }

    .loginstyleforg{
        color: #e80070;
        font-size: 2.2rem;
        transform: rotate(-30deg);
        position: relative;
        top: 11%;
        right: 7%;
    }

    .regbodform{
        min-height: 47vh !important;
        max-height: 47vh !important;
        background-color: #ffe4fbdb;
        border: 0.15rem solid #e80070;
        border-radius: 0.3rem;
        max-width: 32vw !important;
      }
    .loginstyle{
        color: #e80070;
        font-size: 2.5rem;
        transform: rotate(-30deg);
        position: relative;
        top: 9%;
        right: 10%;
    }
    .loginstylereg{
        color: #e80070;
        font-size: 2.5rem;
        transform: rotate(-30deg);
        position: relative;
        top: 7%;
        right: 13%;
    }

    .icondeslog{
        width: 8vw;
        height: 9vh;
    }
    .sidenav{
        color : white !important;
        padding-top: 0.6rem;
        display: flex !important;
        position: absolute;
        background-color: #e80070;
        min-width: 7vw;
        max-width: 7vw;
        min-height: 100vh;
        max-height: 100vh;
        overflow: scroll;
    
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    
    }
    
    .sidenav::-webkit-scrollbar {
        display: none;
      }
      

      .mainnav{
        position: absolute !important;
        top: 0%;
        right :0%;
        background-color: #ffffff;
        min-width: 93vw;
        max-width: 93vw;
        min-height: 100vh;
        max-height: 100vh;
        overflow: scroll;
    
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    
    }
    
    .mainnav::-webkit-scrollbar {
        display: none;
      }
}



@media (min-width:1280px) and (max-width:1365px){
    .msgimgbox{
        width: 34.5vw !important;
        height:16vw !important;
        object-fit: fill !important;
    }
    .mymsgimg{
        background-color: #ffeff7;
        position: relative;
        left: 44%;
        width: 55%;
        margin-bottom: 0.5rem;
        border-radius: 1.5rem;
        color:#e80070;
        min-height: 46vh !important;
        max-height: 46vh !important;
     }
    .mymsg{
        background-color: #ffeff7;
        position: relative;
        left: 44%;
        width: 55%;
        margin-bottom: 0.5rem;
        border-radius: 2rem;
        color: #e80070;
     }
    
     .sendermsgimg{
        background-color: #ffeff7;
        position: relative;
        left: 0%;
        width: 55%;
        margin-bottom: 0.5rem;
        border-radius: 1.5rem;
        color: #e80070;
        min-height: 46vh !important;
        max-height: 46vh !important;
     }
     .sendermsg{
        background-color: #ffeff7;
        position: relative;
        left: 0%;
        width: 55%;
        margin-bottom: 0.5rem;
        border-radius: 2rem;
        color:#e80070
     }
    .sendingbox{
        display: flex;
        width: 78vw;
        height: 6vh;
  
        position: fixed;
        top: 88%;
    }
    .friendbox{
        position: absolute;
        top: 25%;
        min-height: 68vh;
        max-height: 68vh;
        min-width: 76vw;
        max-width: 76vw;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
}
.friendbox::-webkit-scrollbar {
    display: none;
  }
        
    
    .tagsearch{
        color: #dd3d8a;
        position: absolute;
        top:18%;
    }
    .searchmain{
        display: flex;
        margin-top: 3rem !important;
        min-width: 60% !important;
        max-width: 60% !important;
        min-height: 2vw !important;
        max-height: 5vw !important;
    }
    .loginstylelout{
        color: #e80070;
        font-size: 2.2rem;
        transform: rotate(-30deg);
        position: relative;
        top: 8%;
        right: 22%;
    
    }
    .cardwidth{
        min-width: 25vw;
        max-width: 25vw;
    }
    .loginstyleforg{
        color: #e80070;
        font-size: 2.2rem;
        transform: rotate(-30deg);
        position: relative;
        top: 11%;
        right: 6%;
    }
    .loginstyle{
        color: #e80070;
        font-size: 2.5rem;
        transform: rotate(-30deg);
        position: relative;
        top: 8%;
        right: 7%;
    }
    .loginstylereg{
        color: #e80070;
        font-size: 2.5rem;
        transform: rotate(-30deg);
        position: relative;
        top: 7%;
        right: 11%;
    }
    
    .regbodform{
        min-height: 47vh !important;
        max-height: 47vh !important;
        background-color: #ffe4fbdb;
        border: 0.15rem solid #e80070;
        border-radius: 0.3rem;
        max-width: 28vw !important;
      }
    .loginstyle{
        color: #e80070;
        font-size: 2.5rem;
        transform: rotate(-30deg);
        position: relative;
        top: 9%;
        right: 7%;
    }
    .icondeslog{
        width: 7vw;
        height: 11vh;
    }

    .sidenav{
        color : white !important;
        padding-top: 0.6rem;
        display: flex !important;
        position: absolute;
        background-color: #e80070;
        min-width: 5.5vw;
        max-width: 5.5vw;
        min-height: 100vh;
        max-height: 100vh;
        overflow: scroll;
    
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    
    }
    
    .sidenav::-webkit-scrollbar {
        display: none;
      }
      

      .mainnav{
        position: absolute !important;
        top: 0%;
        right :0%;
        background-color: #ffffff;
        min-width: 94.5vw;
        max-width: 94.5vw;
        min-height: 100vh;
        max-height: 100vh;
        overflow: scroll;
    
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    
    }
    
    .mainnav::-webkit-scrollbar {
        display: none;
      }
}



@media (min-width:1366px) and (max-width:1919px){
    .bdisppad{
        padding: 1rem;
    }
    .msgimgbox{
        width: 34.5vw !important;
        height:16vw !important;
        object-fit: fill !important;
    }
    .mymsgimg{
        background-color: #ffeff7;
        position: relative;
        left: 44%;
        width: 55%;
        margin-bottom: 0.5rem;
        border-radius: 1.5rem;
        color: #e80070;
        min-height: 46vh !important;
        max-height: 46vh !important;
     }

    .mymsg{
        background-color: #ffeff7;
        position: relative;
        left: 44%;
        width: 55%;
        margin-bottom: 0.5rem;
        border-radius: 2rem;
        color: #e80070
     }
    
     .sendermsgimg{
        background-color: #ffeff7;
        position: relative;
        left: 0%;
        width: 55%;
        margin-bottom: 0.5rem;
        border-radius: 1.5rem;
        color: #e80070;
        min-height: 46vh !important;
        max-height: 46vh !important;
     }
     .sendermsg{
        background-color: #ffeff7;
        position: relative;
        left: 0%;
        width: 55%;
        margin-bottom: 0.5rem;
        border-radius: 2rem;
        color: #e80070
     }
    .sendingbox{
        display: flex;
        width: 78vw;
        height: 6vh;
    
        position: fixed;
        top: 87%;
    }
    .friendbox{
        position: absolute;
        top: 25%;
        min-height: 70vh;
        max-height: 70vh;
        min-width: 76vw;
        max-width: 76vw;
       
        overflow-y: auto;
    

    -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
}
.friendbox::-webkit-scrollbar {
    display: none;
  }
    .tagsearch{
        color: #dd3d8a;
        position: absolute;
        top:19%;
    }
    .searchmain{
        display: flex;
        margin-top: 3rem !important;
        min-width: 60% !important;
        max-width: 60% !important;
        min-height: 2vw !important;
        max-height: 2vw !important;
    }
    .loginstylelout{
        color: #e80070;
        font-size: 2.2rem;
        transform: rotate(-30deg);
        position: relative;
        top: 9%;
        right: 20%;
    
    }
    .cardwidth{
        min-width: 20vw;
        max-width: 20vw;
    }
    .loginstyleforg{
        color: #e80070;
        font-size: 2.2rem;
        transform: rotate(-30deg);
        position: relative;
        top: 11%;
        right: 6%;
    }
    .loginstyle{
        color: #e80070;
        font-size: 2.5rem;
        transform: rotate(-30deg);
        position: relative;
        top: 8%;
        right: 7%;
    }

    .loginstylereg{
        color: #e80070;
        font-size: 2.5rem;
        transform: rotate(-30deg);
        position: relative;
        top: 4%;
        right: 9%;
    }

    .icondeslog{
        width: 7vw;
        height: 11vh;
    }
    .sidenav{
        color : white !important;
        padding-top: 0.6rem;
        display: flex !important;
        position: absolute;
        background-color: #e80070;
        min-width: 4.55vw;
        max-width: 4.55vw;
        min-height: 100vh;
        max-height: 100vh;
        overflow: scroll;
    
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    
    }
    
    .sidenav::-webkit-scrollbar {
        display: none;
      }
      

      .mainnav{
        position: absolute !important;
        top: 0%;
        right :0% !important;
        background-color: #ffffff;
        min-width: 95.45vw;
        max-width: 95.45vw;
        min-height: 100vh;
        max-height: 100vh;
        overflow: scroll;
    
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    
    }
    
    .mainnav::-webkit-scrollbar {
        display: none;
      }
}


@media (min-width:1920px) and (max-width:3839px){
    .bdisppad{
        padding: 1rem;
    }
    .msgimgbox{
        width: 35.5vw !important;
        height:19.5vw !important;
        object-fit: fill !important;
    }
    .mymsgimg{
        background-color: #ffeff7;
        position: relative;
        left: 44%;
        width: 55%;
        margin-bottom: 0.5rem;
        border-radius: 1.5rem;
        color: #e80070;
        min-height: 46vh !important;
        max-height: 46vh !important;
     }
    .mymsg{
        background-color: #ffeff7;
        position: relative;
        left: 44%;
        width: 55%;
        margin-bottom: 0.5rem;
        border-radius: 2rem;
        color: #e80070;
     }
    
     .sendermsgimg{
        background-color: #ffeff7;
        position: relative;
        left: 0%;
        width: 55%;
        margin-bottom: 0.5rem;
        border-radius: 1.5rem;
        color:#e80070;
        min-height: 46vh !important;
        max-height: 46vh !important;
     }
     .sendermsg{
        background-color: #ffeff7;
        position: relative;
        left: 0%;
        width: 55%;
        margin-bottom: 0.5rem;
        border-radius: 2rem;
        color: #e80070;
     }
    .sendingbox{
        display: flex;
        width: 78vw;
        height: 6vh;
        
        position: fixed;
        top: 89%;
    }
    .friendbox{
        position: absolute;
        top: 25%;
        min-height: 68vh;
        max-height: 68vh;
        min-width: 76vw;
        max-width: 76vw;
    
    }
    .tagsearch{
        color: #dd3d8a;
        position: absolute;
        top:15%;
    }
    .searchmain{
        display: flex;
        margin-top: 3rem !important;
        min-width: 60% !important;
        max-width: 60% !important;
        min-height: 4vw !important;
        max-height: 4vw !important;
    }
    .loginstylelout{
        color: #e80070;
        font-size: 3rem;
        transform: rotate(-30deg);
        position: relative;
        top: 6%;
        right: 15%;
    
    }
    .cardwidth{
        min-width: 25vw;
        max-width: 25vw;
    }
    .loginstyleforg{
        color: #e80070;
        font-size: 2.2rem;
        transform: rotate(-30deg);
        position: relative;
        top: 10%;
        right: 4%;
    }
    .loginstylereg{
        color: #e80070;
        font-size: 2.5rem;
        transform: rotate(-30deg);
        position: relative;
        top: 7%;
        right: 9%;
    }
    .regbodform {
        min-height: 31vh !important;
        max-height: 45vh !important;
        background-color: #ffe4fbdb;
        border: 0.15rem solid #e80070;
        border-radius: 0.3rem;
        max-width: 20vw !important;
    }
    .loginstyle{
        color: #e80070;
        font-size: 2.5rem;
        transform: rotate(-30deg);
        position: relative;
        top: 9%;
        right: 5.7%;
    }

    .icondeslog{
        width: 5vw;
        height: 10vh;
    }
    .sidenav{
        color : white !important;
        padding-top: 0.6rem;
        display: flex !important;
        position: absolute;
        background-color: #e80070;
        min-width: 4vw;
        max-width: 4vw;
        min-height: 100vh;
        max-height: 100vh;
        overflow: scroll;
    
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    
    }
    
    .sidenav::-webkit-scrollbar {
        display: none;
      }
      

      .mainnav{
        position: absolute !important;
        top: 0%;
        right :0%;
        background-color: #ffffff;
        min-width: 96vw;
        max-width: 96vw;
        min-height: 100vh;
        max-height: 100vh;
        overflow: scroll;
    
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    
    }
    
    .mainnav::-webkit-scrollbar {
        display: none;
      }
}

@media (min-width:1920px) and (max-width:3839px){
    .loginstyle{
        color: #e80070;
        font-size: 2.5rem;
        transform: rotate(-30deg);
        position: relative;
        top: 9%;
        right: 5.7%;
    }

    .sidenav{
        color : white !important;
        padding-top: 0.6rem;
        display: flex !important;
        position: absolute;
        background-color: #e80070;
        min-width: 4vw;
        max-width: 4vw;
        min-height: 100vh;
        max-height: 100vh;
        overflow: scroll;
    
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    
    }
    
    .sidenav::-webkit-scrollbar {
        display: none;
      }
      

      .mainnav{
        position: absolute !important;
        top: 0%;
        right :0%;
        background-color: #ffffff;
        min-width: 96vw;
        max-width: 96vw;
        min-height: 100vh;
        max-height: 100vh;
        overflow: scroll;
    
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    
    }
    
    .mainnav::-webkit-scrollbar {
        display: none;
      }
}



@media (min-width:3840px) and (max-width:7999px){
    .bdisppad{
        padding: 1rem;
    }
    .msgimgbox{
        width: 37vw !important;
        height:22.5vw !important;
        object-fit: fill !important;
    }
    .mymsgimg{
        background-color: #ffeff7;
        position: relative;
        left: 44%;
        width: 55%;
        margin-bottom: 0.5rem;
        border-radius: 1.5rem;
        color: #e80070;
        min-height: 46vh !important;
        max-height: 46vh !important;
     }
    .mymsg{
        background-color: #ffeff7;
        position: relative;
        left: 44%;
        width: 55%;
        margin-bottom: 0.5rem;
        border-radius: 2rem;
        color: #e80070;
     }
    

     .sendermsgimg{
        background-color: #ffeff7;
        position: relative;
        left: 0%;
        width: 55%;
        margin-bottom: 0.5rem;
        border-radius: 1.5rem;
        color:#e80070;
        min-height: 46vh !important;
        max-height: 46vh !important;
     }

     .sendermsg{
        background-color: #ffeff7;
        position: relative;
        left: 0%;
        width: 55%;
        margin-bottom: 0.5rem;
        border-radius: 2rem;
        color:#e80070;
     }
    .sendingbox{
        display: flex;
        width: 78vw;
        height: 6vh;

        position: fixed;
        top: 89%;
    }
    .friendbox{
        position: absolute;
        top: 23%;
        min-height: 68vh;
        max-height: 68vh;
        min-width: 76vw;
        max-width: 76vw;
      
    }
    .tagsearch{
        color: #dd3d8a;
        position: absolute;
        top:15%;
    }
    .searchmain{
        display: flex;
        margin-top: 9rem !important;
        min-width: 60% !important;
        max-width: 60% !important;
        min-height: 2vw !important;
        max-height: 2vw !important;
    }
    .loginstylelout{
        color: #e80070;
        font-size: 3.2rem;
        transform: rotate(-30deg);
        position: relative;
        top: 3%;
        right: 8%;
    
    }
    .cardwidth{
        min-width: 30vw;
        max-width: 30vw;
    }
    .loginstyleforg{
        color: #e80070;
        font-size: 2.2rem;
        transform: rotate(-30deg);
        position: relative;
        top: 10%;
        right: 4%;
    }
    .loginstylereg{
        color: #e80070;
        font-size: 2.5rem;
        transform: rotate(-30deg);
        position: relative;
        top: 3%;
        right: 12%;
    }
    .regbodform {
        min-height: 34vh;
        max-height: 27vh;
        background-color: #ffe4fbdb;
        border: 0.15rem solid #e80070;
        border-radius: 0.3rem;
        max-width: 27vw;
    }
    .loginstyle{
        color: #e80070;
        font-size: 2.5rem;
        transform: rotate(-30deg);
        position: relative;
        top: 9%;
        right: 5.7%;
    }

    .icondeslog{
        width: 7vw;
        height: 11vh;
    }
    .sidenav{
        color : white !important;
        padding-top: 0.6rem;
        display: flex !important;
        position: absolute;
        background-color: #e80070;
        min-width: 7vw;
        max-width: 7vw;
        min-height: 100vh;
        max-height: 100vh;
        overflow: scroll;
    
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    
    }
    
    .sidenav::-webkit-scrollbar {
        display: none;
      }
      

      .mainnav{
        position: absolute !important;
        top: 0%;
        right :0%;
        background-color: #ffffff;
        min-width: 93vw;
        max-width: 93vw;
        min-height: 100vh;
        max-height: 100vh;
        overflow: scroll;
    
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    
    }
    
    .mainnav::-webkit-scrollbar {
        display: none;
      }
}



.loader{

    background-color: white;
    min-height: 100vh;

}

.headbod{
    width: 100vw !important;
}


body{
    -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar {
    display: none;
  }


  .anim{
    transition: all 1s ease-in-out;
    box-shadow: 0px 0px 1px 1px white;
    transform: scale(1);
    border-radius: 50%;
  }

  .anim:hover{
    transition: all 0.8s ease-in-out;
    box-shadow: 0px 0px 7px 3px rgb(255, 222, 222);
    transform: scale(1.3);
  }


  .login{
    min-width: 100%;
    max-width: 100%;
    min-height: 100vh;
    overflow-y: auto;
    background-color: rgb(255, 255, 255);
    -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */

  }

  .login::-webkit-scrollbar {
    display: none;
  }


  .bodform{
    min-height: 45vh;
    max-height: 45vh;
    background-color: #ffe4fbdb;
    border: 0.15rem solid #e80070;
    border-radius: 0.3rem;
  }


  .regbodform{
    min-height: 45vh;
    max-height: 45vh;
    background-color: #ffe4fbdb;
    border: 0.15rem solid #e80070;
    border-radius: 0.3rem;
    max-width: 25vw;
  }

  .btn-danger {
    color: #fff;
    background-color: #e80070;
    border-color: #dc3545;
}


.logimgsz{
    width: 80%;
    height: 80%;
    object-fit: fill;
    filter: grayscale(100%) sepia(100%) hue-rotate(180deg) brightness(1.5) saturate(1.5);
}

.loganimtxt{
    animation : buff 2s linear infinite;
}

@keyframes buff{
    0%{
        transform: scale(1) rotate(-30deg);
        
    }
    50%{
        transform: scale(1.2) rotate(-30deg);
        
    }
    100%{
        transform: scale(1) rotate(-30deg);
       
    }
}

.regclick{
    color:#e80070 ;
}

.forgotclick{
    color:#e80070 ;
}

.form-control:focus {
    border-color: #e80070;
    box-shadow: 0px 0px 6px #e80070;
}

.formselect:focus {
    border-color: #e80070;
    box-shadow: 0px 0px 6px #e80070;
}

.linkhreflines{
    color:#e80070;
}

.verifyme{
    text-decoration: none;
    color : white;
}

.verifyme:hover{
    text-decoration: none;
    color : white;
}

.profilecardbg{
    border: 0.15rem solid #e80070;
    background-color: #ffe4fbdb;
    color: #e80070;
}

.btndescardprofile{
    background-color: #e80070;
    color: white;
    border: none;
}

.btndescardprofile:hover{
    background-color: #dd3d8a;
    color: white;
    border: none;
}

.btndescardprofile.active{
    background-color: #dd3d8a;
    color: white;
    border: none;
}

.zind{
    z-index: 200;
}

.cardb{
    border: none;
}

.avat{
    color: #dd3d8a;
}

.desbtnsearch{
   
    color: #dd3d8a;
    border-color: #dd3d8a;
    
}

.desbtnsearch:hover {
    color: #fff;
    background-color: #dd3d8a;
    border-color: #dd3d8a ;
}


.brdred{
    border-radius: 2rem !important;
}

.nofriend{
    color: #dd3d8a;
}


.form-control{
    border: 0.1rem solid #dd3d8a;
}
.form-group{
    border: 0.1rem solid #dd3d8a;
}
.form-select{
    border: 0.1rem solid #dd3d8a;
}


.cardanim{
    transform: scale(1);
    transition: all 1s;
}

.cardanim:hover{
    transform: scale(1.1);
    z-index: 200;
}

.btn{
    padding: .075rem .5rem;
    font-size: .76rem;
    border-radius: .2rem;
}

#fileinp{
    display:none;
    visibility: none;
}

.imgcol{
    color: #dd3d8a;
}

.card-container {
    display: block;
    position: absolute;
    top: 5%;
    min-width: 70vw;
    max-width: 70vw;
    min-height: 80vh;
    max-height: 80vh; /* Set your desired max height */
    overflow-y: scroll;
   
    padding: 1rem;
     -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
}

.card-container::-webkit-scrollbar {
    display: none;
  }

  .styles_scrollable-div__prSCv {
    
    height: 78vh !important;
    overflow-y: auto;
}

.textbg{
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.76);
    border-radius: 0.5rem;
    color: #ff006d;
}

.smallborder{
    border : 0.1rem solid;
}

.sizebigmsg{
    transform: scale(1);
    transition: all 0.5s ease-in-out;
}

.sizebigmsg:hover{
    transform: scale(1.04);

}


.badgebg{
    background-color: white !important;
    color: #e80070 !important ;
}


.notimain{
    width: 70%;
    min-height: 100vh;
  
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    padding-top: 7rem;
}

.notimain::-webkit-scrollbar {
display: none;
}

.wball{
    overflow: hidden;
    word-break: break-word;
}

.cardwid{
    min-width: 100% !important;
    margin-bottom: 0.9rem;
    background-color: #ffeff7;
    color: #e80070;
    border : 0.1rem solid #dd3d8a
}

.texdes{
    color: #e80070;
}

.getBig{
    transform: scale(1.3);
}